extends layout

block settings
  script
    var width = #{width};
    var center = #{center};

block content
  .omg
    .omg-inner
      h1= title
      //- p by 
      //-   a(href="http://www.maxthayer.org") me