doctype 5
html
  head
    title= title
    meta(name="description", content="Oh my golly, colors.")
    meta(name="author", content="[Max Thayer](maxthayer.org)")
    != css('app')
  body
    block content