<!DOCTYPE html>
<html>
  <head>
    <title>{{name}}</title>
    <meta charset="utf-8" name="description" content="{{description}}">
    <meta charset="utf-8" name="author" content="{{author}}">
    <link rel="stylesheet" type="text/css" href="app.css">
  </head>
  <body>
    <div class="omg">
      <div class="omg-inner">
        <h1>🎉</h1>
        <h1>🐲</h1>
        <h1>🎂</h1>
      </div>
    </div>
  </body>
</html>
